html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    cursor: crosshair;
}

header {
    min-height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.switchButton {
    position: absolute;
    bottom: 40%;
    left: 48%;
    width: 7rem;
    height: 2rem;
    display: flex;
    border-radius: 5px;
    border-color: lightskyblue;
    align-items: center;
    justify-content: space-around;
    border: none;
    transition: all 0.3s linear;
    background: black;
}

.switchButton span {
    display: inline-block;
    font-size: 0.85rem;
    cursor: pointer;
    text-transform: capitalize;
    color: white;
}

.switchButton:hover {
    color: white;
    background: black;
}

.switch {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: lightskyblue;
    border-radius: 5px;
    border-color: lightskyblue;
    margin: 0;
    display: block;
    transition: all 0.3s linear;
}

.slide .switch {
    left: 50%;
}

.videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.videoSize {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-family: Poppins;
}